html
    head
        title=project.name
    body
        include commonheader.pug
        h1=project.name
        p=project.description
        if project.gitrepo !== undefined
            div
                a(href=project.gitrepo) Github
        if project.artifacts !== undefined
            h3 Artifacts
            ul
                each artifact in project.artifacts
                    li
                        a(href='/projects/project/'+projectid+'/'+artifact) #{artifact}
        div
            a(href='/projects/project/'+projectid+'/upload') Upload Artifact